@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --brand-blue: #085f95;
  --brand-indigo: #363fae;
  --brand-purple: #6539a7;
  --brand-purple-bright: #8545a0;
  --brand-violet: #99569b;
  --brand-violet-soft: #a26495;
  --brand-rose: #a16d8b;
  --brand-rose-deep: #9d7379;
  --brand-maroon: #704449;
  --brand-brown: #452223;
  --brand-brown-deep: #1b0806;
  --brand-black: #010705;
  --brand-teal-deep: #052022;
  --brand-teal: #073440;

  --radius: 0rem;
  --background: var(--brand-teal-deep);
  --foreground: var(--brand-black);
  --card: oklch(1 0 0);
  --card-foreground: var(--brand-black);
  --popover: var(--brand-teal);
  --popover-foreground: var(--primary-foreground);
  --primary: var(--brand-blue);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(82.8% 0.189 84.429);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--brand-indigo);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--brand-black);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-blue: var(--brand-blue);
  --color-brand-indigo: var(--brand-indigo);
  --color-brand-purple: var(--brand-purple);
  --color-brand-purple-bright: var(--brand-purple-bright);
  --color-brand-violet: var(--brand-violet);
  --color-brand-violet-soft: var(--brand-violet-soft);
  --color-brand-rose: var(--brand-rose);
  --color-brand-rose-deep: var(--brand-rose-deep);
  --color-brand-maroon: var(--brand-maroon);
  --color-brand-brown: var(--brand-brown);
  --color-brand-brown-deep: var(--brand-brown-deep);
  --color-brand-black: var(--brand-black);
  --color-brand-teal-deep: var(--brand-teal-deep);
  --color-brand-teal: var(--brand-teal);

  --color-brand-gradient-1: var(--brand-blue);
  --color-brand-gradient-2: var(--brand-indigo);
  --color-brand-gradient-3: var(--brand-purple);
  --color-brand-gradient-4: var(--brand-purple-bright);
  --color-brand-gradient-5: var(--brand-violet);
  --color-brand-gradient-6: var(--brand-violet-soft);
  --color-brand-gradient-7: var(--brand-rose);
  --color-brand-gradient-8: var(--brand-rose-deep);
  --color-brand-gradient-9: var(--brand-maroon);
  --color-brand-gradient-10: var(--brand-brown);
  --color-brand-gradient-11: var(--brand-brown-deep);
  --color-brand-gradient-12: var(--brand-black);
  --color-brand-gradient-13: var(--brand-teal-deep);
  --color-brand-gradient-14: var(--brand-teal);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__panel {
  margin: 0;
}

.react-flow {
  --xy-edge-stroke-default: var(--brand-purple);
  --xy-edge-stroke-width-default: 1;
  --xy-edge-stroke-selected-default: var(--secondary);

  --xy-connectionline-stroke-default: var(--brand-purple);
  --xy-connectionline-stroke-width-default: 1;

  --xy-attribution-background-color-default: var(--brand-blue);

  --xy-minimap-background-color-default: var(--brand-teal);
  --xy-minimap-mask-background-color-default: var(--brand-teal-deep);
  --xy-minimap-mask-stroke-color-default: transparent;
  --xy-minimap-mask-stroke-width-default: 1;
  --xy-minimap-node-background-color-default: oklch(
    from var(--secondary) l c h / 0.2
  );
  --xy-minimap-node-stroke-color-default: transparent;
  --xy-minimap-node-stroke-width-default: 2;
  --xy-background-color-default: transparent;

  --xy-background-pattern-dots-color-default: var(--brand-blue);
  --xy-background-pattern-lines-color-default: var(--brand-blue);
  --xy-background-pattern-cross-color-default: var(--brand-blue);
  background-color: var(
    --xy-background-color,
    var(--xy-background-color-default)
  );

  --xy-node-color-default: var(--brand-purple-bright);
  --xy-node-border-default: 1px solid var(--secondary);
  --xy-node-background-color-default: transparent;
  --xy-node-group-background-color-default: #f0f0f040;
  --xy-node-boxshadow-hover-default: 0 1px 4px 1px #00000014;
  --xy-node-boxshadow-selected-default: 0 0 0 0.5px #1a192b;
  --xy-node-border-radius-default: 0px;

  --xy-handle-background-color-default: #1a192b;
  --xy-handle-border-color-default: #fff;

  --xy-selection-background-color-default: #0059dc14;
  --xy-selection-border-default: 1px dotted #0059dccc;

  --xy-controls-button-background-color-default: var(--brand-teal-deep);
  --xy-controls-button-background-color-hover-default: var(--primary);
  --xy-controls-button-color-default: inherit;
  --xy-controls-button-color-hover-default: var(--primary-foreground);
  --xy-controls-button-border-color-default: #eee;
  --xy-controls-box-shadow-default: 0 0 2px 1px #00000014;

  --xy-edge-label-background-color-default: #fff;
  --xy-edge-label-color-default: inherit;
  --xy-resize-background-color-default: #3367d9;
}
